In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("data.csv", dtype={'string': 'str'})
df.head()

       string target
0  0000000000      P
1  0000000001     NP
2  0000000010     NP
3  0000000011     NP
4  0000000100     NP

In [8]:
df["target"].value_counts()

NP    992
P      32
Name: target, dtype: int64

In [9]:
df[df["target"] == "P"]

          string target
0     0000000000      P
48    0000110000      P
72    0001001000      P
120   0001111000      P
132   0010000100      P
180   0010110100      P
204   0011001100      P
252   0011111100      P
258   0100000010      P
306   0100110010      P
330   0101001010      P
378   0101111010      P
390   0110000110      P
438   0110110110      P
462   0111001110      P
510   0111111110      P
513   1000000001      P
561   1000110001      P
585   1001001001      P
633   1001111001      P
645   1010000101      P
693   1010110101      P
717   1011001101      P
765   1011111101      P
771   1100000011      P
819   1100110011      P
843   1101001011      P
891   1101111011      P
903   1110000111      P
951   1110110111      P
975   1111001111      P
1023  1111111111      P